article .lista_usuarias{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    right:0px;
    top:40px;
    z-index: 99;
}

.infos_users{
    display: none;
}
.infos_users_show{
    display: flex;
    justify-content: space-around;
    height:100px;
    font-family:'Roboto Condensed', sans-serif;
    position: absolute;
    z-index: 999;
    left: 0;
    transition: all 2s;
    flex-direction: column;
    border-radius: 10px;
    font-weight: bold;
}
.infos_users_show button{
    background-color:#a35da2;
    border:none;
    padding:10px;
    color:#ffff;
    border-radius: 20px;
    cursor: pointer;
    margin:0 auto;
}
.infos_users_show button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  } 
.infos_users_show li{
    background-color: rgb(255 252 252 / 79%);
    border: 1px solid #e5dfdfcf;
    padding: 10px;
    display: flex;
    align-items: center
}
.infos_users_show li:first-child{
    border-radius: 20px 20px 0px 0px;
}
.infos_users_show li:last-child{
    border-radius: 0px 0px 20px 20px;
}
.infos_users_show li img{
    width:20px;
    height: 20px;
    box-shadow: none;
    border:none;
    filter: brightness(0.5);
}
.infos_users_show li button{
    margin-left: 18px;
}
.infos_users_show li img:hover{
   border: none;
   cursor:inherit;
}

.lista_usuarias img{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 100%; 
    margin-left: 2.5px;
    margin-right: 2.5px;
    object-fit: cover;
    box-shadow: 1px 0.5px 2px 2px #e9e5e5;
    position: relative;
    cursor: pointer;
    border:solid 2px transparent;
}

.lista_usuarias img:hover{
    border:solid 2px rgb(75, 71, 71);
}

article .usuaria{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    left:0px; 
    /* top:50px; */
}

.secaoPrincipal__infosUser{
    display: flex;
    flex-direction: column;
}

.secaoPrincipal__infosUser-image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    object-fit: cover;
}

.secaoPrincipal__infosUser-image img{
    width: 100%;
    height: 100%;
    
}

.secaoPrincipal__infosUser{
    color: #7b387a;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    z-index: 9999 !important;
}

.nome{
    font-weight:bold;
    font-size: 18px;
}

.profissao{
    font-size: 16px;
    color: #aba4a4;
    letter-spacing: 1px;
}

.competencias{
    font-size: 14px;
    color: #aba4a4;
    font-weight: bold;
    letter-spacing: 1px;
}
.modal_perfil{
    display: none;
}
.usuaria_close{
    display: none;
}
.modal_users{
    display: none;
}
.users_close{
    display: none;
}
.lista_usuarias-header{
    text-align: right;
    width: 120px;
    height:40px;
    padding:15px;
    position: absolute;
    border-radius: 20px 0px 0px 0px;
    background-color: #ffff;
    font-size:12px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.lista_usuarias-online{
    right: 0px;
    border-radius: 0px 20px 0px 0px;
}
.lista_usuarias-mensagens{
    right: 120px;
    border-radius: 20px 0px 0px 0px;
    border-bottom: #a35da2 solid 3px;
}
.box__mensagens{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box__mensagens li{
    display: flex;
    flex-direction: row;
    justify-content:end;
    width: 100%;
    font-size:12px;
    padding:5px 0px;
    border-bottom: solid 1px #f3f2ef;
    position: relative;
}

.box__mensagens img{
    width:24px;
    height: 24px;
    border-radius:100%;
    margin-right:0px;
}
.box__mensagens .online{
    width:7px;
    height:7px;
    position:absolute;
    top:80%;
    transform:translateY(-50%);
    left:192px;
}
div.lista_mensagens{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    right:0px;
    top:40px;
    z-index: 99;
}





@media (max-device-width: 768px){
    .lista_usuarias-header{
       display: none;
    }
    div.lista_mensagens{
        background-color: #ffff;
        display: none;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        border-radius: 0px 0px 20px 20px;
        position: absolute;
        right:0px;
        top:40px;
        z-index: 99;
    }
    .modal_perfil{
        display: block;
    }
    .modal_users{
        display: block;
    }
    .usuaria_close{
        display: block;
        background-color: transparent;
        background-image: url("../css/icones/close.png");
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        position: absolute;
        top: 25px;
        right: 25px;
        width: 50px;
        height: 50px;
    }
    .usuaria {
        width: 100vw !important;
        height: 100vh !important;
        z-index: 9999 !important;
        top: -36px !important;
        left: -1105px !important;
        transition: all 0.5s ease-in-out !important;
        border-radius:none !important;
    }
    .open_modal{
        left:0px !important;
    }

    .secaoPrincipal__infosUser{
        z-index: 9999 !important;
    }

    .secaoPrincipal__infosUser-image{
        width: 150px;
        height: 150px;
        margin: 50px auto 0px auto;
    }
    .nome {
        font-size: 30px;
    }
    .profissao {
        font-size: 20px;
    }
    .competencias {
        font-size: 20px;
    }
    .bt_editar_perfil{
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    .bt_editar_perfil img{
        width: 20px;
        height:20px;
    }
    .lista_usuarias{
        display:none !important;
        background-color:#100e0ee3 !important;
        width: 100vw !important;
        height: 100vh !important;
        position: absolute !important;
        z-index: 9999 !important;
        top: 0px !important;
        border-radius: 0 !important;
        justify-content:flex-start;
        padding:40px 20px 0px 20px !important;
        overflow: scroll;
    }
    .lista_usuarias div{
        width: 60px !important;
        height: 60px !important;
        margin: 25px;
    }
    .lista_usuarias div img{
        width: 60px !important;
        height: 60px !important;
    }
    .open_modal_users{
        display: flex !important;
    }
    .usuaria_close{
        width: 30px;
        height: 30px;
    }
   

}