h2.banco_title{
    margin-top: 51px;
    margin-left: 262px;
    text-align: left;
    font-family: 'Roboto Condensed';
    font-weight: bold;
}
h2.banco_title:after{
    content: '';
    width:100%;
    height:2px;
    background-color: red;
}
.container_banco-slider{
    height: 215px;
    width: 100%;
    margin: 35px auto 20px auto;
}
.container_banco{
    display:flex;
    width: 60%;
    margin: 60px auto 30px auto;
    height:400px;
}
.banco_card{
    /* width:100px;
    height:300px; */
    background-color: #ffff;
    /* box-shadow: 20px 20px 50px 15px #e5e3e39f; */
    width: 140px !important;
    height: 200px;
    /* margin-left:20px !important; */
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border-radius: 10px;
    position:absolute!important;
    text-align: center;
}

.banco_card-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    background-position: top;
    border-radius:10px 10px 0px 0px;
}
.banco_card-image:hover{
    opacity: 100%;
}

.banco_card-infos{
    padding:10px;
    height:100%;
    font-size:14px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
}

.banco_card-nome{
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: #7B387A;
}
.banco_card-nome:hover{
    cursor: pointer;
    text-decoration:underline;
}

.banco_card-competencias{
    color:#807a7a;
}

.slick-arrow{
    background-image: url("./icones/icons8-flecha-64.png")!important;
    background-size: cover !important;
    width:24px !important;
    height:24px !important;
    z-index: 99 !important;
    opacity: 60% !important;
    top: 90px !important;
}
.slick-prev{
    transform: rotate(180deg) !important;
    left: 0px !important;
}
.slick-next{
    right: 0px !important;
}

.slick-dots li.slick-active button:before {
    color: #a45fa2 !important;
}

.banco_bt{
    position: absolute;
    /* right: 268px; */
    top:85px;
    background:transparent;
    border: none;
    cursor: pointer;
    color: #a45fa2;
    text-transform: uppercase;
    font-size:10px;
    font-family: 'Roboto Condensed';
    font-weight:bold;
    text-decoration: underline;
}

.banco_card-mensagem{
    font-size:12px;
    font-family: 'Roboto Condensed';
    background-color:#7B387A;
    border: none;
    color: #ffff;
    padding:5px;
    border-radius:5px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.banco_card-mensagem:hover{
    background-color:#a45fa2;
    color:#ffff;
}
.icon_mensagem{
    background-image: url("./icones/icons8-arrow-100.png")!important;
    width:16px;
    height:16px;
    background-size: cover;
    transform: rotate(45deg);
    filter: brightness(5);
}
.icon_mensagem:hover{
    filter: brightness(5);
}

@media(max-width:992px){
    .container_banco-slider{
        width: 100%;
    }
    .banco_card{
        width: 100px !important;
    }
    .banco_card-mensagem {
        width: 80px;
    }
}