::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}


.box_chat{
    padding-top:100px;
    height:100px;
}
.container_batepapo{
  display: flex;
  flex-direction: row;
  margin-top: 75px !important;
  justify-content: center !important;
  height:400px;
  width:80%;
  max-width: 764px;
}
.container_conversas{
    width:20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius:20px 0px 0px 20px;
    padding:10px;
    height:490px;
    margin-left: 264px;
}
.container_conversas h2{
    height:90px !important;
    border-bottom: solid 1px #C7C3C3;
    /* background-color: #ffff; */
}
.conversas{
    display: flex;
    align-items: center;
    background-color:transparent;
    border-bottom: 1px solid #eee;
    height:70px;
    margin:5px;
    padding-bottom:10px;
}
.conversas img{
    width: 40px;
    height: 40px;
    border-radius:100%;
    margin:5px 0;
}
.conversas_bt{
    border: none;
    background-color:transparent;
    font-size:14px;
    font-weight:bold;
    padding:5px;
}
.conversas_bt p{
    overflow-wrap: break-word;
    color:#a35da2;
    margin-left: 5px;
}
.conversas_bt p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.container_chat{
    width: 50%;
    background-color: rgb(255, 255, 255);
}

#scroll_chat{
    display: flex;
    height: 400px;
    flex-direction: column;
}

.cabecalho_chat{
    width: 100%;
    max-width: 630px;
    height: 90px;
    background-color: transparent;
    border-right: solid 1px #C7C3C3;
    display:flex;
    /* flex-direction: column; */
    align-items:center;
    position:fixed;
    padding:5px 10px;
    
}
.cabecalho_chat img{
    width: 50px;
    height: 50px;
    border-radius:100%
}
.cabecalho_chat p{
   color: #DD4872;
   font-weight: bold;
   margin-left: 5px;
}
.batepapo_chat{
    width: 100%;
    height:400px;
    overflow-y: auto;
    position: relative;
    padding:5px;
}
.chat-i p{
    left:50px;
    align-items: left !important;
    display: block;
    width: 200px;
    max-width:200px;
    padding:20px;
    background-color:#d9d9d979;
    border-radius: 10px 0px 10px 10px;
    margin:5px;
    min-height: 50px;
    color: rgb(0, 0, 0);
}
.chat-you p{
    right:50px;
    align-items: right !important;
    display: block;
    width: auto;
    max-width:300px;
    padding:20px;
    background-color:rgb(92, 41, 91);
    color: #fff;
    border-radius: 10px 10px 10px 0px;
    margin:5px;
    min-height: 50px;
    /* box-shadow: 20px 20px 50px 15px #e5e3e39f; */
}
.nova-mensagem_chat{
    width: 100%;
}
.nova-mensagem_chat form{
    display:flex;
    align-items: center;
    position: relative;
}
.nova-mensagem_chat form span{
    background-color: transparent !important;
    position: absolute;
    right: 0;
    display: flex;
    width: 12%;
}
.nova-mensagem_chat form span input{
    background-color:transparent;
    background-image:url('../css/icones/icons8-arrow-100.png');
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    color:#ffff;
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
}
.nova-mensagem_chat form span input:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.container_input_mensagem{
    width: 100%;
    background-color:#ffff;
    padding:20px;
}
.nova-mensagem_chat input{
    width: 90%;
    border-radius: 50px;
    background-color:#F0F8FF;
    padding: 20px;
}
.input_mensagem{
    height:50px;
    overflow:scroll;
    width:90%;
}

/* .bt_enviar_msg{
    width: 10%;
    background-color:transparent;
    cursor: pointer;
} */


@media (max-width:768px){
    .container_batepapo{
        width:100% !important;
        flex-direction: column-reverse;
        margin-top:110px !important;
        height: auto;
    }
    .container_chat{
        width:100% !important;
    }
    .container_conversas{
        width:100%;
        height:200px;
        margin-left: 0px;
    }
    .cabecalho_chat{
        width:100% !important;
        height: 50px;
        background-color: transparent;
        border-right: solid 1px #C7C3C3;
        display:flex;
        align-items:center;
        position:fixed;
        padding:5px 10px;
    }
    #scroll_chat{
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    
}