@keyframes anima_modal {
    from{
        opacity:0;
        transform:translate3d(0,-60px,0);
    }
    to{
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.cadastro-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: anima_modal .5s;
    

}

.cadastro-cartao__icone-concluido {
    display: block;
    width: 3.5rem;
    height: 3.5rem;

    margin-bottom: 1rem;

    background-image: url(icones/checkmark.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cadastro-cartao__titulo {
    width: 100%;
  
}
.cartao {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 80%;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-left: 10%;
    margin-top: 100px ;
}

.cartao__titulo {
    font-size: 30px;
    margin-bottom: 1rem;
    color: #a25fa2;
}
.cartao__link{
    font-size: 20px;
    color:var(--preto-padrão);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cartao__link:hover{
    color: var(--cinza-padrão);
}
