/*PG EDITAR POST*/
.conteudoEditar{
    margin: 100px auto;
    width: 600px;
    border-radius:20px;
    background-color: #ffff;
    padding:30px;
}
.edit_post-user{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}
.edit_post-user-nome{
    margin-left: 10px;
}
.edit_post-user img{
    width: 50px;
    border-radius: 100%;
}
.conteudoEditar_form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudoEditar_post, .conteudoEditar_assunto{
    width: 100%;
    height: 200px;
    border: 1px solid var(--cinza-padrão);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding:2%;
    color:var(--preto-padrão);
}
.conteudoEditar_assunto{
    height: 30px;
    margin:10px 0;
}

div .imagem-pg-edita-post{
    width: 400px;
    float: right;
    margin-top: -300px;
    opacity: 45%;
}