@import 'styleGuide.css';

h2{
    font-family: 'Montserrat', sans-serif;

}
.introducao{
    width: 100%;
    height: 500px;
    margin:0 auto;
    background-color:#ffff;
    box-sizing: border-box;
    padding:150px 150px;

}
.sobre{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: row;
    box-shadow: -4px 6px 32px -1px #605d5d;
}
.sobre_texto{
    width:50%;
    background-color:#a25fa2;
}
.sobre_texto p{
    padding:50px;
    color:#ffff;
}
.sobre_color{
    background: linear-gradient(68.15deg,#241355, #60103f 16.62%, #50076d , #262223 );
    opacity: 64%;
    width:100%;
    height:400px;
}
.sobre_img{
    width:50%;
    height:400px;
    position: relative;
}
.sobre_img img{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    object-fit: cover;
}
.topicos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:50px;
    height:400px;
    align-items: center
}
.topicos_item{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items:center
}
.topicos_item img{
    width: 100%;  
    height: 150px;
}
@media (min-width: 1200px){
    .topicos_item{
        width: 250px;
        height: 150px;
    }
}
@media (max-width: 768px){
    .introducao{
        height:auto;
        padding:100px 30px;
    }
    .sobre{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .sobre_texto{
        width:100%;
    }
    .sobre_texto p{
        padding:50px;
    }
    .sobre_img{
        width:100%;
    }
    .topicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:auto;
    }
    
}