.box_like{
    display: flex;
    background: transparent;
    margin: 20px 0 5px -10px;
    width: 100px;  
}

.span_like{
    width:30px;
    color: #a45fa2;
    font-family: 'Roboto Condensed';
    line-height:25px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.span_liked{
    color: #a3a2a3;
    background: transparent !important;
}

.bt_like {
    background:transparent;
    background-image:url("./icones/like.png");
    background-size: cover;
    border: none;
    width: 20px;
    height:20px;
    cursor: pointer;
}

.liked{
    filter: invert(1);
}