/*modal*/

@keyframes anima_modal {
    from{
        opacity:0;
        transform:translate3d(0,-60px,0);
    }
    to{
        opacity:1;
        transform:translate3d(0,0,0);
    }
    }
    h2{
        color: #222122;
    }

    /* MODAL PUBLICAÇÃO */

    .inicio .modal_conteudo{
        width: 400px;
        height:616px;
    }
    .inicio .modal_conteudo h2, .cadastro .modal_conteudo h2 {
        border-bottom: solid 1px #C7C3C3;
        padding-bottom: 20px;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: -9px;
        margin-bottom: 20px;    
    }
    .form_publicar{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }
    .secaoPrincipal__post--post{
        border:transparent solid !important;
        height: 250px !important;
        border: solid 1px var(--cinza-padrão);
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
    }
    .secaoPrincipal__post--post::placeholder{
        color: #C5C0C0;
        font-size:24px;
       
    }
    .secaoPrincipal__post-user{
        display: flex;
        align-items: center;
    }
    .secaoPrincipal__post-user img{
        border-radius: 100%;
    }

    .bt__file{
        display: flex;
        align-items: center;
        font-size:16px;
        width: 70px;
        justify-content: space-evenly;
        padding:2px;
        cursor: pointer;
        margin:5px;
    }
    .bt__file:hover{
        background-color: rgb(232, 228, 228);
        border-radius: 10px;
    }
    .input_file_post{
        display:none;
    }
    .input_file_post-icon{
        width:30px;
        height:30px;
        position: relative;
    }
    
    .secaoPrincipal__post #preview{
        width:40px;
        height:40px;
        background-size: cover;
        border-radius: 0px;
        border: none;
        position: absolute;
        margin-top:8px;
        margin-left:140px;
    }
    
    .bt_publicar{
        width: 350px;
        height: 61px;
        color:#ffff;
        background-color: #DD4872;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px auto;
        cursor: pointer;
    }
    .form_publicar select {
        border: 1px solid #C5C0C0;
        font-size: 15px;
        padding: 0px 30px;
        height: 30px;
        cursor: pointer;
    }
    .form_publicar select option:checked {
        box-shadow: 0 0 150px #9b59b6 inset
      }

    .item{
        font-family: Arial, Helvetica, sans-serif;
    }
    .item:hover{
        background-color: #c91c1c !important;
    }


    .mostrar .modal_conteudo{
        animation: anima_modal .3s;
    }
    .modal_fundo_style{
        width: 100vw;
        height: 100vh;
        background: #0e030eb8;
        position: fixed;
        top:0px;
        left:0px;
        z-index:9999;
        display:none;
        justify-content:center;
        align-items: center;   
    }
    .modal_conteudo{
        background: #ffff;
        padding: 30px;
        width: 60%;
        /* max-width: 400px; */
        height: 400px;
        min-width: 300px;
        border-radius: 20px;
        position: relative;
        margin: 0 auto;
        animation: anima_modal .3s;
    }
    .modal_conteudo .mensagem{
        width: 60%;
        margin-left: 10%;
        box-sizing: border-box;
    }
   
    .modal_conteudo .bt-2{
        background: #943892b4;
        color: var(--branco-padrão);
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        font-family: GeosansLight-Oblique;
        transition: 1s all;
        border-radius: 20px;
        width: 200px;
        padding-left: 60px;
   }
   .modal_conteudo .bt-2:hover{
    background: var(--cinza-padrão);
    transform: scale(1.1);
}
    input[type=file]{
        margin-top: 5px;
        transition: 1s all;
        border: none;
    }
    input[type=file]:hover{
        cursor: pointer;
    }
    
    .modal_fundo_style.mostrar{
        display:flex;
    }
    
    .fechar{
        position: absolute;
        top: 3px;
        right: 2px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px;
        background-color: transparent;
        color: #5a5757c4;
        font-family: cursive;
        font-weight: 900;
        font-size: 15px;
        cursor: pointer;
    }

    .modal_fundo-exclusão .modal_conteudo{
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }

    .modal_fundo-exclusão .modal_conteudo h2{
        font-family: 'Roboto Condensed';
        font-weight: bold;
    }

    .modal_fundo-exclusão .buttons{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    .modal_fundo-exclusão button{
        background:linear-gradient(135deg, rgb(255, 78, 111) 0%, #7B387A 100%);
        border: none;
        width: 100px;
        border-radius: 10px;
        font-size: 16px;
        padding: 5px;
        cursor: pointer;
    }
    .modal_fundo-exclusãoBt, .sim{
        color: #ffff;
    }
    .modal_fundo-exclusãoBt, .cancelar{
        background:transparent !important;
        color:rgb(255, 78, 111);
        font-weight: bold;
    }
    .modal_fundo-exclusãoBt, .cancelar:hover{
        background-color:#ded9e4d4 !important;
    }
    

    /* MODAL CADASTRO */
    .cadastro .modal_conteudo .form_cadastrar .container{
        display: flex !important;
        width: 675px !important;
        height:auto !important;
        justify-content: space-around;
    }
    .cadastro .modal_conteudo .form_cadastrar .container div{
        width: 50%;
    }
    .form_cadastrar{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between;
    }
    .container p{
        margin: 20px auto;
    }
    .container input{
        border: none;
        border-bottom: #943892 solid 1px;
        width: 90%;
    }
    .container label{
        color: #943892;
    }
    .bt_cadastrar{
        width: 283px;
        height: 38px;
        color:#ffff;
        background-color: #DD4872;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px auto;
        cursor: pointer;
        border: none;
    }