/**/
@media only screen and (max-device-width: 768px) {
    main{
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 90px;
    }
    .header{
        display: flex;
        padding-right: 10%;
        padding-left: 10%;
    }
    .principalRight{
        opacity: 15%;
    }
    .principalLeft{
        position: absolute;
        width: 80%;
    }
    .principalLeft__conteudo{
        width: 100%;
        float: none;
        margin-top: 10%;
        align-items: center;
    }
    .principalLeft__conteudo--input{
        background:var(--input-mobile);
    }
    .principalLeft__conteudo form{
        width: 80%;
    }
    .principalLeft__conteudo--subtitulo{
        font-size: 30px;
        font-weight: bold;
        margin-left: 0px;
    }
    
    .secaoPrincipal__post{
        width: 100%;
    }
    .secao_lista--post{
        flex-direction: column;
    }
    .boxpostIndividual{
        width: 90%;
        padding: 5%;
        height: auto;
    }
    .boxpostIndividual__cabecalho--titulo {
        font-size: 30px;
    }
    
    .p_post {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rodape__mensagem form{
        width: 100%;
        margin-left: 0px;
    }
    .lista_usuarias{
        display: none;
    }
}
