/**/
@media (max-device-width: 768px) {
    main{
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 60px;
    }
    .header{
        display: flex;
        padding-right: 10%;
        padding-left: 10%;
    }

    
    .secaoPrincipal__post{
        width: 100%;
    }
    .secao_lista--post{
        flex-direction: column;
    }
    .boxpostIndividual{
        width: 100%;
        padding: 5%;
        height: auto;
    }
    .boxpostIndividual__cabecalho--titulo {
        font-size: 30px;
    }
    
    .p_post {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rodape__mensagem form{
        width: 100%;
        margin-left: 0px;
    }

    div .header__logado-conteudo .wrapper{
        display: flex !important;
        flex-direction: column !important;
        background-color:red;
    }
   
}
